button {
    border: none;
    padding: 10px 10px 10px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 999px;

    @media (max-width: 768px) {
        padding: 8px 8px 8px 16px;
        font-size: 20px;
        gap: 12px;            
    }

    & > div {
        width: 42px;
        height: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 999px;

        & > svg {
            fill: var(--color-black);
        }
    }
}

.button-blue {
    background-color: var(--color-primary);
    color: var(--color-white);

    & > div {
        background-color: var(--color-white);

        & > svg {
            fill: var(--color-primary);
        }
    }
}

.button-white {
    background-color: var(--color-white);
    color: var(--color-primary);

    & > div {
        background-color: var(--color-primary);

        & > svg {
            fill: var(--color-white);
        } 
    }
}

.button-black {
    background-color: var(--color-black);
    color: var(--color-white);

    & > div {
        background-color: var(--color-white);

        & > svg {
            fill: var(--color-black);
        } 
    }
}

.mini {
    padding: 8px 8px 8px 16px;
    font-size: 16px;

    & > div {
        width: 32px;
        height: 32px;
    }
}