button {
    border: none;
    padding: 10px 10px 10px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 999px;
    position: relative;
    overflow: hidden;

    @media (max-width: 768px) {
        padding: 8px 8px 8px 16px;
        font-size: 20px;
        gap: 12px;            
    }

    &::before {
        content: '';
        width: 0%;
        height: 100%;
        top: 70px;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        border-radius: 999px;
        transition: all .3s ease;
        z-index: -1;
    }

    &:hover::before {
        width: 100%;
        top: 0;
    }

    & > div {
        width: 42px;
        height: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 999px;

        & > svg {
            fill: var(--color-black);
        }
    }
}

.button-blue {
    background-color: var(--color-primary);
    color: var(--color-white);

    &::before {
        background-color: var(--color-primary-dark);
    }

    & > div {
        background-color: var(--color-white);

        & > svg {
            fill: var(--color-primary);
        }
    }
}

.button-white {
    background-color: var(--color-white);
    color: var(--color-primary);

    &::before {
        background-color: var(--color-background-gray);
    }

    & > div {
        background-color: var(--color-primary);

        & > svg {
            fill: var(--color-white);
        } 
    }
}

.button-black {
    background-color: var(--color-black);
    color: var(--color-white);

    &::before {
        background-color: var(--color-primary);
    }

    & > div {
        background-color: var(--color-white);

        & > svg {
            fill: var(--color-black);
        } 
    }
}

.mini {
    padding: 8px 8px 8px 16px;
    font-size: 16px;

    & > div {
        width: 32px;
        height: 32px;
    }
}