.automotive {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 62px;

    @media (max-width: 768px){
        flex-direction: column-reverse;
        padding: 5%!important;
        gap: 32px;
    }

    & .automotive-texts {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 24px;

        @media (max-width: 768px){
            width: 100%;
            align-items: flex-start;
            text-align: left;
        }

        
        & > ol {
            padding-left: 14px;

            & > li {
                margin-bottom: 6px;
                list-style-type: disc;
                font-size: 18px;
            }
        }
    }

    & .automotive-asset{
        width: 50%;

        @media (max-width: 768px){
            width: 100%;
        }
        
        & > img {
            width: 100%;
            height: 100%;
            min-height: 620px;
            border-radius: 0px 32px 32px 32px;
            object-fit: cover;
            object-position: center;

            @media (max-width: 768px){
                min-height: 360px;
            }
        }
    }
}