.footer {
    width: 100%;
    height: auto;
    position: relative;
    margin-top: 42px;

    @media (max-width: 768px) {
        margin-top: 12px;    
    }

    & .bg {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        background-color: var(--color-background-gray);
    }

    .footer-container {
        padding: 5% 2.5% 20px 2.5%!important;
        max-width: 1440px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 112px;

        @media (max-width: 768px) {
            padding: 10% 5%!important;
            gap: 62px;   
        }

        & .footer-texts {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 26px;

            & .title {
                max-width: 800px;
                text-align: center;

                @media (max-width: 768px) {
                    max-width: 100%;
                    font-size: 28px;
                }
            }
        }

        & .footer-credits {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            @media (max-width: 768px) {
                flex-direction: column;
                gap: 26px;
                text-align: center;
            }

        }
    }
}