.hero {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    gap: 62px;

    @media (max-width: 768px) {
        flex-direction: column-reverse;
        gap: 36px;    
    }

    & .hero-header.mobile {
        display: none;
    }

    & .hero-content {
        flex: 1;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 82px;
        
        @media (max-width: 768px) {
            padding: 0 2.5%;    
        }

        & .content {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            gap: 42px;

            @media (max-width: 768px) {
                gap: 24px;    
            }

            & .promotion {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: row;
                gap: 18px;

                @media (max-width: 768px) {
                    gap: 16px;
                    align-items: center;
                }

                & > div {
                    height: 62px;
                    width: 62px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 16px;
                    background: var(--color-primary-surface);
                    border: 1px solid var(--color-primary-border);

                    @media (max-width: 768px) {
                        height: 56px;
                        width: 56px;
                    }

                    & > img {
                        width: 26px;
                        height: 26px;

                    }
                }

                & > article {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    gap: 6px;

                    @media (max-width: 768px) {
                        flex: 1;
                        gap: 6px;
                    }

                    /* & .title {
                    } */

                    & .description {
                        font-size: 16px;
                    }
                }
            }

            & .titles {
                display: flex;
                align-items: flex-start;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                gap: 16px;

                /* & .title {
                }

                & .description{
                } */
            }

            /* & .button {
            } */
        }
    }

    & .hero-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: fit-content;
        padding-top: 16px;

        @media (max-width: 768px) {
            padding: 18px 2.5%;
        }

        & > img {
            height: 62px;
            width: auto;

            @media (max-width: 768px) {
                height: 46px;
            }
        }

        & > nav {
            display: flex;
            align-items: center;
            justify-content: center;
            height: auto;
            min-height: 62px;

            & ul {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: row;
                gap: 12px;
                height: 100%;
                width: 100%;

                & li {
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    
                    & a {
                        color: var(--color-black);
                        font-size: 18px;
                        font-weight: 600;
                        padding: 8px 12px;
                    }
                }
            }
        }

        & .button-menu {
            width: 48px;
            height: 48px;
            background-color: var(--color-background-white);
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 8px!important;
            margin-right: 16px;
        }
    }

    & .hero-image {
        flex: 1;
        width: 100%;
        height: 100%;
        min-height: 720px;
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;

        @media (max-width: 768px) {
            min-height: 420px;
        }

        &::before {
            content: '';
            width: 80%;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            background: url('../assets/pattern/bg-hero.png') no-repeat center;
            z-index: -1;
            border-radius: 112px 0 112px 112px;

            @media (max-width: 768px) {
                border-radius: 42px 0 42px 42px;
                width: 70%;
            }
        }

        &::after {
            content: '';
            width: 100%;
            height: 70%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            background: url('../assets/sofas/sofa-hero.png') no-repeat left;
            background-size: cover;

            @media (max-width: 768px) {
                height: 70%;
                top: 60%;
            }
        }

        & > nav {
            display: flex;
            align-items: flex-end;
            justify-content: center;
            position: absolute;
            top: 12px;
            right: 16px;
            float: right;

            @media (max-width: 768px) {
                display: none;
            }

            & > ul {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 8px;
                width: 100%;

                & > li {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 8px;
                    border-radius: 999px;
                    background-color: var(--color-background-white);

                    &:last-child {
                        padding: 8px 16px;
                    }
                    
                    & > a {
                        font-size: 16px;
                        font-weight: 600;
                        color: var(--color-primary);
                        white-space: nowrap;
                    }
                }
            }
        }
    }

    @media (max-width: 768px) {
        & .hero-header.desktop {
            display: none;
        }

        & .hero-header.mobile {
            display: flex;
        }
    }

    @media (min-width: 769px) {
        & .hero-header.mobile {
            display: none;
        }
    }
}