@import url(./hero.css);
@import url(./process.css);
@import url(./offer.css);
@import url(./about.css);
@import url(./services.css);
@import url(./testimonials.css);
@import url(./automotive.css);
@import url(./promo.css);
@import url(./footer.css);

.alignment-section-helper {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 2.5%;
    position: relative;
}