.offer {
    padding: 12px!important;
    width: 90%!important;
    border-radius: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 22px;
    background: linear-gradient(90deg, var(--color-primary) 0%, var(--color-primary-dark) 100%);
    
    @media (max-width: 768px) {
        flex-direction: column-reverse;
        border-radius: 32px;
        background: linear-gradient(180deg, var(--color-primary) 0%, var(--color-primary-dark) 100%);
    }

    & .offer-content {
        width: 50%;
        padding: 26px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        gap: 16px;

        @media (max-width: 768px) {
            width: 100%;
            padding: 16px;
        }

        & .title {
            color: var(--color-white);
        }

        & .description {
            color: var(--color-white);
            margin-bottom: 12px;
        }
    }

    & .offer-asset {
        width: 50%;
        height: 360px;
        border-radius: 26px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        @media (max-width: 768px) {
            width: 100%;
            height: 280px;
        }

        &::before {
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            width: 70%;
            height: 100%;
            z-index: -1;
            border-radius: 26px;
            background-color: var(--color-background-white);
            
            @media (max-width: 768px) {
                left: 0;    
                width: 60%;
            }
        }

        & img {
            width: 1200px;
            height: 320px;
            object-fit: cover;
            object-position: left;
            position: absolute;
            left: 20px;

            @media (max-width: 768px) {
                left: auto;
                right: 0;
                object-position: right;
                height: 220px;
            }
        }
    }
}