.promo {
    width: 100%;
    height: auto;
    position: relative;
    margin-top: 82px;

    @media (max-width: 768px) {
        margin-top: 42px;    
    }

    & .bg {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        background-color: var(--color-background-gray);
    }

    .promo-container {
        padding: 5% 2.5%!important;
        max-width: 1440px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 32px;

        @media (max-width: 768px) {
            padding: 10% 5%!important;   
            flex-direction: column-reverse;
        }

        & .promo-texts {
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 22px;

            @media (max-width: 768px) {
                width: 100%;
            }

            & .info {
                padding: 16px 22px;
                background-color: var(--color-primary-surface);
                border-left: 4px solid var(--color-primary);
                width: 80%;

                @media (max-width: 768px) {
                    width: 100%;
                }

                & .title {
                    font-weight: 400;
                    font-size: 20px;

                    @media (max-width: 768px) {
                        font-size: 18px;
                    }
                }
            }
        }

        & .promo-asset {
           width: 50%; 
           position: relative;
           height: 500px;
           display: flex;
           align-items: flex-end;
           justify-content: center;

           @media (max-width: 768px) {
                width: 100%;
                height: 300px;
            }

           &::before {
            content: '';
            width: 50%;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            background: var(--color-black);
            z-index: -1;
            border-radius: 32px;
            
            @media (max-width: 768px) {
                width: 60%; 
            }
           }

           & .price {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 4px;
            position: absolute;
            right: 10%;
            top: 10%;

            @media (max-width: 768px) {
                right: 5%;
                top: 10%;
            }

            & .description {
                color: var(--color-white);
            }

            & .title {
                font-weight: 700;
                font-size: 52px;
                color: var(--color-white);

                @media (max-width: 768px) {
                    font-size: 36px;
                }

                & b {
                    font-weight: 400;
                    font-size: 26px;
                }
            }
           }

            & > img {
                width: auto;
                height: 300px;
                margin-bottom: 24px;
                object-fit: contain;

                @media (max-width: 768px) {
                    height: 160px;
                }
            }
        }
    }
}