.services {
    padding: 5% 2.5%!important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 62px;

    @media (max-width: 768px){
        padding: 10% 5%!important;
        gap: 32px;    
    }

    & .services-texts {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        justify-content: center;
        flex-direction: column;
    }

    & .services-carousel {
        width: 100%;

        & .services-swiper {
            width: 100%;
            position: relative;

            & .swiper-wrapper {
                width: 100%;

                & .services-card {
                    min-height: 320px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 8px;
                    border-radius: 32px;

                    & > img {
                        width: 100%;
                        height: auto;
                        height: 280px;
                        object-fit: cover;
                        object-position: center;
                        border-radius: 28px 28px 28px 0;

                        @media (max-width: 768px){
                            height: 300px;
                        }
                    }

                    & .texts {
                        padding: 12px;
                        display: flex;
                        align-items: flex-start;
                        justify-content: center;
                        flex-direction: column;
                        gap: 16px;

                        & .title {
                            font-size: 28px;
                            font-weight: 500;
                            color: var(--color-black);
                        }
                    }
                }
            }

            & .navigation-container {
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: space-between;
                margin-top: 32px;

                & .services-navigation {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 16px;

                    .services-button {
                        width: 48px;
                        height: 48px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border: 1px solid var(--color-gray);
                        border-radius: 50%;
                        background: var(--color-background-white);
                        cursor: pointer;
                        position: relative;
                        z-index: 2;
                        pointer-events: auto;   
    
                        &>img {
                            width: 24px;
                            height: 24px;
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%);
                        }
                    }
                }
            }
        }
    }
}