.testimonials {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 62px;
    padding: 2.5% !important;

    @media (max-width: 768px) {
        padding: 10% 5% !important;
        gap: 32px;
    }

    & .testimonials-texts {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 12px;
        text-align: center;
    }

    & .testimonial-card {
        width: 100%;
        padding: 16px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 18px;
        background-color: var(--color-background-gray);
        border-radius: 24px;
        border: 1px solid #E0E0E0;
    }

    & .testimonial-card .stars {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 4px;
    }

    & .testimonial-card .title {
        font-weight: 400;
        font-size: 22px;
        line-height: 1.2;
        width: 100%;
    }

    & .testimonial-card .profile {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        gap: 16px;
    }

    & .testimonial-card .profile>img {
        width: 48px;
        height: 48px;
        border-radius: 99px;
        object-fit: cover;
        object-position: center;
    }

    & .testimonial-card .profile .info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 0px;
    }

    & .testimonial-card .profile .info .title {
        font-weight: 600;
        font-size: 20px;
    }

    & .testimonial-card .profile .info>span {
        font-size: 16px;
        font-weight: 400;
        color: var(--color-gray);
    }

    & .testimonials-carousel {
        width: 100%;
        height: auto;

        & .testimonials-masonry {
            display: none;
            width: 100%;
            column-count: 3;
            column-gap: 12px;

            & .testimonial-card {
                margin: 0 0 12px;
                break-inside: avoid;
                display: inline-flex;
            }
        }
    }

    & .testimonials-swiper {
        display: block;
        width: 100%;

        & .swiper-slide {
            height: auto;
        }

        & .testimonial-card {
            height: 100%;
            align-items: flex-start;
            justify-content: flex-start;
            min-height: auto;
        }

        & .navigation-container {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-between;
            margin-top: 32px;

            & .testimonials-navigation {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 16px;

                .testimonials-button {
                    width: 48px;
                    height: 48px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid var(--color-gray);
                    border-radius: 50%;
                    background: var(--color-background-white);
                    cursor: pointer;
                    position: relative;
                    z-index: 2;
                    pointer-events: auto;   

                    &>img {
                        width: 24px;
                        height: 24px;
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }
        }
    }

}

@media (min-width: 769px) {
    .testimonials {
        & .testimonials-carousel .testimonials-masonry {
            display: block;
        }

        & .testimonials-swiper {
            display: none;
        }
    }
}